h1 {
	text-align: right;
	color: #fff;
}

body {
	background: url("http://i.imgur.com/jvDNP0V.jpg");
	background-size: cover;
	text-align: right;
	font-family: Helvetica, sans-serif;
	color: #fff;
}

#slogan {
	font-weight: bold;
	color: #000;
}